@media (min-width: 320px) {
  .section3-content-item {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .main-section2 div {
    width: 30%;
  }
  .section3-content-item {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .section3-content-item {
    width: 15%;
  }
}

@media (min-width: 1440px) {
}
