* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body {
  background-color: aqua;
  font-family: sans-serif;
}
.seperator {
  width: 0.5%;
  background-color: #eee;
}
a {
  color: black !important;
}
.grayHover:hover {
  color: gray !important;
  transition: 0.35s;
}

.bg-red {
  background-color: #e02b2b;
}

.font-15px {
  font-size: 15px;
}

.width-auto {
  width: auto;
}

.flag {
  width: 20%;
}

.selector {
  position: relative;
}
.selector-list {
  list-style-type: none;
  width: 100%;
}

.selector-list-content {
  /* border: 1px solid red; */
  text-align: center;
  width: auto;
}
.selector-list-content:hover {
  background-color: #eeeeef;
}

.select-list-div {
  background-color: white;
  width: 150%;
  padding: 5px;
  /* border: 1px solid red; */
  visibility: hidden;
  position: absolute;
  top: 200%;
  right: 10%;
  transition: 0.3s all ease-in-out;
  z-index: 1;
}

.selector:hover .select-list-div {
  top: 100%;
  visibility: visible;
}

/* ======================Left offcanvasBar======================== */
/* .offcanvas-start .list-group-item {
} */
/* ======================SearchBar======================== */
.search-nav-contianer {
  width: 100%;
}

.offcanvas-icon {
  border: none;
  padding: 0px 2% !important;
  background-color: transparent;
}
.offcanvas-icon i {
  font-size: 15px;
}

.navbar-brand img {
  width: 150px;
}

.searchBar-container {
  box-sizing: border-box !important;
  width: 100%;
}
.form-select {
  border: none;
}

.header-search-right i {
  font-size: 20px;
  /* margin-left: 25px; */
  position: relative;
}
.header-search-right i:hover {
  color: #eee;
  transition: 0.3s all ease-in-out;
}
.header-search-right i .counter {
  font-size: 10px;
  padding: 6px 9px;
  position: absolute;
  bottom: 75%;
  left: 45%;
}
.hoverBox {
  position: absolute;
  top: -50%;
  right: -45%;
  width: auto;
  visibility: hidden;
  transition: 0.2s all ease-in;
}

.hoverBox span {
  font-size: 10px !important;
}

.header-search-right i:hover .hoverBox {
  top: 120%;
  visibility: visible;
}
/* ================Navbar===================== */
.nav-bar-container {
  width: 100%;
}

.nav-bar-container nav {
  text-align: center;
  width: 80%;
  margin: auto;
}
.nav-bar-container .nav-ul-container {
  width: 80%;
}
.nav-bar-container ul {
  width: 100%;
}

/* ================Slider===================== */
.owl-carousel {
  position: relative;
  width: 95%;
}
/* .owl-nav {
  overflow: hidden;
  height: 0px;
} */
.owl-theme .owl-dots {
  display: none;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}
.owl-nav {
  margin: 0 !important;
}
.owl-prev {
  position: absolute;
  top: 23%;
  right: 100%;
  outline: none;
}
.owl-next {
  position: absolute;
  top: 23%;
  left: 100%;
  outline: none;
}
.slider-header-container {
  font-size: 12px;
  font-weight: bold;
}

.item-header {
  font-size: 10px !important;
}
