* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
  font-family: sans-serif;
}

.grayHover:hover {
  color: gray !important;
  transition: 0.35s;
}

.bg-red {
  background-color: #e02b2b;
}

.font-15px {
  font-size: 15px;
}

.width-auto {
  width: auto;
}

.flag {
  width: 20%;
}

.selector {
  position: relative;
}
.selector-list {
  list-style-type: none;
  width: 100%;
}

.selector-list-content {
  /* border: 1px solid red; */
  text-align: center;
  width: auto;
}
.selector-list-content:hover {
  background-color: #eeeeef;
}

.select-list-div {
  background-color: white;
  width: 150%;
  padding: 5px;
  border: 1px solid red;
  visibility: hidden;
  position: absolute;
  top: 200%;
  right: 10%;
  transition: 0.3s all ease-in-out;
}

.selector:hover .select-list-div {
  top: 100%;
  visibility: visible;
}
/* ====================================================== */
.search-nav-contianer {
  width: 100%;
}

.navbar-brand img {
  width: 150px;
}

.offcanvas-tog {
  font-size: 15px;
}

/* ===================================== */
.nav-bar-container {
  width: 100%;
}

.nav-bar-container nav {
  text-align: center;
  width: 80%;
  margin: auto;
}
.nav-bar-container .ul-container {
  width: 80%;
}
.nav-bar-container ul {
  width: 100%;
}
