@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
  .popular-categories-content-container {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 39px;
  }
  .consumer-electronics-right-content {
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
  }
}

@media (max-width: 767px) {
  .main-section2 .section2-part {
    height: 190px;
    max-width: 100% !important;
    margin-bottom: 10px !important;
  }
  .popular-categories-content-container {
    grid-template-columns: auto auto auto;
    grid-column-gap: 35px;
  }

  .benefits-content-item:nth-child(2),
  .benefits-content-item:nth-child(4) {
    border-left: 3px solid #eee !important;
  }
  .footer-lists-div .collapse:not(.show) {
    display: none;
  }
  .footer-lists-div button {
    pointer-events: painted;
  }
}

@media (max-width: 425px) {
  .popular-categories-content-container {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }

  .popup {
    visibility: hidden;
  }
}

@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
