@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
  .popular-categories-content-container {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 39px;
  }
}

@media (max-width: 768px) {
  .main-section2 .section2-part {
    height: 190px;
    max-width: 100% !important;
    margin-bottom: 10px !important;
  }
  .popular-categories-content-container {
    grid-template-columns: auto auto auto;
    grid-column-gap: 35px;
  }
}

@media (max-width: 425px) {
  .popular-categories-content-container {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }
}

@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
