/* .wishlist-content {
  max-width: 80%;
} */
.wishlist-card {
  border-bottom-color: #666;
}

.wishlist-card:last-child {
  border-bottom: none !important;
}

.wishlist-card-cancel {
  color: #666;
  transition: 0.2s all ease-in-out;
}
.wishlist-card-cancel:hover {
  color: red;
}
.wishlist-card-header a {
  transition: 0.2s all ease-in-out;
}
.wishlist-card-header a:hover {
  color: #666 !important;
}
.wishlist-card-select,
.wishlist-card-details {
  transition: 0.2s all ease-in-out;
}
.wishlist-card-details a {
  color: #000;
}
.wishlist-card-details a:hover {
  color: #666;
}
.wishlist-card-select:hover {
  outline: 3px solid black;
}
